
*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/caches/build_file_checksums.ser
.idea/codeStyles/Project.xml
.idea/gradle.xml
.idea/kotlinc.xml
.idea/runConfigurations.xml

.idea/libraries/
.idea/workspace.xml
.idea/assetWizardSettings.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
vcs.xml